.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.content-description {
}

@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }
}


@media only screen and (min-width: 992px) {
  .content {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1400px) {
  .content {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1600px) {
  .content {
    max-width: 1100px;
  }
}
