header {
    background-color: #A88208;
    margin-left: auto;
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav li {
    margin-left: auto;
}

nav a {
   color: #fff;
   text-decoration: none;
}